button, .button {
    width: max-content;
    padding: 0 24px;
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;    
    
    background: $blue;
    border: none;
    border-radius: $brs;
    font-weight: 600;
    color: #fff;
    font-size: 14px;

    cursor: pointer;
    transition: .1s;

    &.subtle {
        background: lighten($grey-light, 3.5);
        color: $black;
        &:hover, &:focus {
            background: lighten($grey-light, 1);
            color: $blue;
        }
    }
    &.ghost {
        background: transparent;
        color: $grey;
        &:hover, &:focus {
            color: $blue;
            background: transparent;
        }
    }

    &.compact {
        width: 50px;
        height: 50px;
        padding: 0;
    }
    
    &:not(.subtle):not(.ghost) {
        &:hover {
            background: darken($blue, 5);
        }
    }
    &:active {
        // transform: translateY(1px) scale(.98);
        transform: translateY(1px);
        // transform: scale(.98);
    }

    &.slot-button {
        height: max-content;
        padding: 10px 20px;
        
        border-radius: 50px;
    }

    .icon {
        margin-right: 10px;
    }
    
}