button, .button {
    width: max-content;
    padding: 0 24px;
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;    
    
    background: $blue;
    border: none;
    border-radius: $brs;
    font-weight: 600;
    color: #fff;
    font-size: 14px;

    cursor: pointer;
    transition: .1s;

    &.subtle {
        background: lighten($grey-light, 8);
        color: $black;
        &:hover, &:focus, &:not(:disabled) {
            background: lighten($grey-light, 6);
            color: $blue;
        }
    }
    &.ghost {
        background: transparent;
        color: $grey;
        &:hover, &:focus, &:not(:disabled) {
            color: $blue;
            background: transparent;
        }
    }

    &.compact {
        width: 50px;
        height: 50px;
        padding: 0;
    }
    &.fab {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 0;
    }
    &.small {
        width: 40px;
        height: 40px;
        padding: 0;
    }
    
    &:hover:not(:disabled) {
        transform: translateY(-2px);
    }
    &:not(.subtle):not(.ghost):not(:disabled) {
        &:hover, &:focus {
            background: darken($blue, 5);
            box-shadow: 0 10px 30px -10px $blue-alpha;
        }
    }
    &:active {
        transform: translateY(2px) !important;
    }

    &.slot-button {
        height: max-content;
        padding: 10px 20px;
        
        border-radius: 50px;
    }

    &:disabled {
        opacity: .3;
        cursor: initial;
    }
    
}