.toolbar {
    height: 100vh;

    display: flex;
    flex-direction: column;

    background: #fff;
}
.toolbar-right {
    width: 400px;
    min-width: 400px;

    border-left: 1px solid $grey-light;

    @media screen and (max-width: 1400px) {
        width: 320px;
        min-width: 320px;
    }

}
.toolbar-left {
    width: 430px;
    min-width: 430px;

    border-right: 1px solid $grey-light;
}