.text-muted {
    color: $grey;
}
.text-blue {
    color: $blue;
}
.text-red {
    color: $red;
}
.selectable {
    user-select: text !important;
    * {
        user-select: text !important;
    }
}
.font-middle {
    font-weight: 600;
}

.label {
    @extend .text-muted;
    @extend .font-middle;
    margin-bottom: 5px;
}

.table-slot {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    &:not(.black) {
        @extend .label;
    }
    > div {
        .small {
            width: 220px;
            text-align: center;
            &:not(:last-child) {
                border-right: 1px solid $grey-light;
            }
        }
    }
}