.text-muted {
    color: $grey;
}
.selectable {
    user-select: text !important;
    * {
        user-select: text !important;
    }
}
.font-middle {
    font-weight: 600;
}

.label {
    @extend .text-muted;
    @extend .font-middle;
}